@model MvcTodoList.Models.TodoFilterViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="TodoList" asp-action="Index" method="get">
    <p>
        <select asp-for="IsDone">
            <option value="">All</option>
            <option value="done">Done</option>
            <option value="notDone">NotDone</option>
        </select>
        Content: <input type="text" asp-for="SearchString"/>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Todos[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Todos[0].ExpectFinishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Todos[0].IsDone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Todos[0].AssignTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Todos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectFinishedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignTo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
